:host {
    background: white;
    opacity: 0.9;
    position: fixed;
    left: auto;
    top: 0;
    min-width: 200px;
    z-index: 401;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
