<app-indicator></app-indicator>


<button type="button" id="rightButton" [@rightButton]="menuState" (click)="toggleMenu()" class="menu btn btn-primary btn-lg btn-circle">
    <span><i class="fas fa-angle-left"></i></span>
</button>
<button type="button" id="topButton" [@topButton]="topMenuState" (click)="toggleTopMenu()" class="menu btn btn-primary btn-lg btn-circle">
    <span><i class="fas fa-angle-down"></i></span>
</button>
<div id='map'>
</div>
<app-panel  
        [comunaShown]="isNombreComunaShown" 
        [@rightPanel]="menuState" 
        (menuState)="toggleMenu()" 
        (showLiceos)="onClickShowLiceos()"
        (showNombreComuna)="onClickShowNombreComuna()">
</app-panel>

