#map{
    height: 93vh;
    width: 100vw;
    /* float: left; */
    top: 7vh;  
}
.menu{
    z-index: 500;
    position: absolute;
    right:0;
}
app-panel{
    height: 100vh;
    width: 300px;
    float: left;                

}
app-indicator{
    width: 100vw;
    height: 7vh;
    
}
.btn-primary{
    opacity: 0.9;
    background: #337ab7;
    border-color: #337ab7;
    
}
/* div{
    margin-left: 2vw;
    margin-top: 1vh;
} */
#rightButton {
    height: 50px; 
    width:50px;
    padding: 10px 16px;
    font-size: 25px;
    line-height: 0;
    border-radius: 25px; 
    border-radius: 50px 0px 0px 50px / 50px 50px 50px 50px;
}

#topButton {
    height: 50px; 
    width:50px;
    padding: 10px 16px;
    font-size: 25px;
    line-height: 0;
    border-radius: 25px; 
    border-radius: 0px 0px 50px 50px / 50px 50px 50px 50px;
    z-index: 401;
}