<div class="container">
  <div class="row">
    <ul class="list-group">
      <div class="list-group-item">
        <span class="label mr-2">Nombre comunas</span>
        <div style="float: right">
          <label class="cl-switch">
            <input type="checkbox" [checked]="comunaShown" (click)="onClickShowNombreComuna()">
            <span class="switcher"></span>
          </label>
        </div>
      </div>
      <div class="list-group-item">
        <span class="label ">Liceos</span>
        <div style="float: right">
          <label class="cl-switch cl-switch-black">
            <input type="checkbox" checked (click)="onClickShowLiceos()">
            <span class="switcher"></span>
          </label>
        </div>
      </div>
    </ul>
  </div>
</div>
<!-- <span class="label">Nombre comunas</span>
<div style="float: right">
  <label class="cl-switch">
    <input type="checkbox" [checked]="comunaShown" (click)="onClickShowNombreComuna()">
    <span class="switcher"></span>
  </label>
</div>
<br>
<span class="label">Liceos</span>
<div style="float: right">
  <label class="cl-switch cl-switch-black">
    <input type="checkbox" checked (click)="onClickShowLiceos()">
    <span class="switcher"></span>
  </label>
</div> -->